# Gitignore settings for ESPHome
# This is an example and may include too much for your use-case.
# You can modify this file to suit your needs.
# svk 2021-3-20: this has been merged into top-level .gitignore
# /.esphome/
# **/.pioenvs/
# **/.piolibdeps/
# **/lib/
# **/src/
# **/platformio.ini
# /secrets.yaml
